aiohappyeyeballs
aiofiles
aiohttp
aiosignal
annotated-types
attrs
certifi
charset-normalizer
colorama
discord.py
frozenlist
idna
loguru
multidict
pillow
propcache
pydantic
pydantic_core
python-dotenv
requests
tomli
typing_extensions
urllib3
win32_setctime
yarl
